@import "dev/variables.less";

#windy-plugin-sounding {
  background-color: @backgroundWhite;
  color: @grayFont;
  font-size: 12px;
  padding: 1em 1em;
  line-height: 2;
  z-index: 100;

  @h: 650px;
  width: 600px;
  height: @h;

  .title {
    margin: 0 0 0.3em 0.6em;
    font-size: 16px;
  }

  .closing-x {
    display: block;
  }

  .mobile(
    {display: block; left: 0; top: 0; right: 0; width: ~"calc(100% - 20px)" ;
      margin: 10px;}
  );

  //=================================
  //
  // SVG items
  //
  //=================================

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  #sounding-chart {
    height: @h - 50px;
    position: relative;

    svg {
      width: 100%;
      height: 100%;
    }

    .infoline {
      stroke-width: 1.5;
      fill: none;
      stroke-linejoin: round;
      stroke-linecap: round;

      &.dewpoint {
        stroke: steelblue;
      }
      &.temperature {
        stroke: red;
      }
      &.wind {
        stroke: purple;
      }
    }

    .surface {
      fill: brown;
      opacity: 0.2;
    }

  }
}
