@import "dev/variables.less";

@width: 600px;
@chartHeight: 600px;

.onwindy-plugin-sounding {
	.left-border {
        left: @width;
  }
	#search {
		display: none;
	}
}

#windy-plugin-sounding {
  font-size: 12px;
  padding: 1em 1em;
  line-height: 2;
  z-index: 100;

  width: @width;

  .title {
    margin: 0 0 0.3em 0.6em;
    font-size: 16px;
  }

  .closing-x {
    display: block;
  }

  .mobile(
    {display: block; left: 0; top: 0; right: 0; width: ~"calc(100% - 20px)" ;
      margin: 10px;}
  );

  //=================================
  //
  // SVG items
  //
  //=================================

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  #sounding-chart {
    svg {
      width: 100%;
      height: @chartHeight;
    }

    .infoline {
      stroke-width: 1.5;
      fill: none;
      stroke-linejoin: round;
      stroke-linecap: round;

      &.dewpoint {
        stroke: steelblue;
      }
      &.temperature {
        stroke: red;
      }
      &.wind {
        stroke: purple;
      }
    }

    .surface {
      fill: brown;
      opacity: 0.2;
    }

  }

  #fly-to {
    padding: 0 15px 0 8px;

    .location {
      border: 1px solid #bbb;
      border-radius: 1em;
      line-height: 1em;
      padding: .3em .6em;
      user-select: none;
      display: inline-block;
      margin-right: .3em;
      cursor: pointer;
    }

    .selected {
      background-color: #946051;
      border-color: #946051;
      color: white;
    }
  }
}
